body {
    max-width: 1440px;
    margin: 1em;
}

header {
    display: flex;
    height: 70px;
    justify-content: space-between;
}

header>img {
    width: 20%;
}

header>.header-img {
    width: 80%;
    display: flex;
}

header>.header-img>h3 {
    align-self: flex-end;
}

header>.header-img>img {
    max-width: 24%;

}

header>.header-img>h1 {
    display: none;
}

.heading-container {
    width: 100%;
    background-color: black;
    position: relative;
    justify-content: stretch;
}

.heading-container>img {
    max-width: 100%;
    max-height: 100%;
}

.heading-container>div {
    box-sizing: border-box;
    padding-left: 5px;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    bottom: 0;
}

.heading-container>div>h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.heading-container>div>p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.hidden-weather {
    display: none;
}

.top-news>ul:first-child {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.top-news>ul {
    padding-left: 10px;
}

.table-head {
    display: flex;
    justify-content: space-around;
    background-color: rgb(97, 127, 216);
    color: white;
}

.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: rgb(172, 171, 171);
}

.table tr:nth-child(1) td:nth-child(5),
.table tr:nth-child(3) td:nth-child(2),
.table tr:nth-child(4) td:nth-child(2),
.table tr:nth-child(6) td:nth-child(2),
.table tr:nth-child(5) td:nth-child(5) {
    font-weight: bold;
}

.dayimg {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dayimg>div>p {
    text-align: center;
}

.weatherTitle {
    display: flex;
}

.weatherTitle>p {
    font-size: xx-large;

}

.weather>p,
.hidden-weather>p {
    margin-top: 2px;
}

.weather>h3,
.hidden-weather>h3 {
    margin-bottom: 0px;
}

.latest-news-head {
    display: flex;
    justify-content: space-between;
}

.latest-news>.latest-news-item1>img,
.latest-news>.latest-news-item2>img {
    margin-right: 10px;
    margin-bottom: 2px;
    max-width: 25%;
    max-height: 25%;
    float: left;
}

.latest-news h2 {
    margin-bottom: 10px;
}

.latest-news>.latest-news-item1 {
    width: 100%;
    margin-top: 20px;
}

.latest-news .latest-news-item1:after {
    content: "";
    display: block;
}

.latest-news>.latest-news-item2 {
    width: 100%;
    margin-top: 20px;
}

.latest-news .latest-news-item1:after {
    clear: both;
}

.latest-news .latest-news-item2:after {
    content: "";
    display: block;
}

.latest-news .latest-news-item2:after {
    clear: both;
}

nav {
    display: none;
}

.latest-news-section h2 {
    color: #bdb7b7;
}

.line-seperation {
    display: none;
}

footer {
    margin-top: 30px;
    width: 100%;
    border-top: 1px solid rgb(168, 165, 165);
    border-bottom: 1px solid rgb(168, 165, 165);
    box-shadow: 0px 2px 2px #bdb7b7;
}

.footer-container {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-container>ul {
    padding-left: 0px;
}



@media screen and (min-width:768px) {
    body {
        color: rgb(48, 46, 46)
    }

    header>.header-img {
        width: 100%;
        display: flex;
    }

    header>img {
        display: none;
    }

    header {
        margin-bottom: 25px;
    }

    header>.header-img>h3 {
        display: none;
    }

    header>.header-img>h1 {
        display: block;
        align-self: flex-end;
        margin-bottom: 0.1%;
    }

    .line-seperation {
        display: block;
        border-bottom: 1px solid rgb(194, 191, 191);
        box-shadow: 0px 2px 4px 1px #bdb7b7;
    }

    header:after {
        display: block;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }



    .table {
        height: 250px;
        border: 0px;
    }

    .footer-container {
        max-width: 50%;
        display: flex;
        justify-content: space-around;
    }

    .heading-container {
        max-width: 100%;
    }

    .heading-container>div {
        width: 100%;
        position: absolute;
        background-color: rgba(26, 24, 24, 0.6);
        color: rgb(201, 192, 192);
        bottom: 0;

    }

    body>section {
        display: flex;
        flex-wrap: wrap;
    }

    .breaking-news-section {
        width: 65%;
    }

    .weather {
        order: 2;
        width: 35%;
        align-self: center;
    }

    .top-news-section {
        order: 3;
        width: 100%;
    }

    .table-section {
        order: 4;
        width: 100%;
    }

    .latest-news-section {
        order: 5;
    }

    .dayimg {

        display: flex;
        justify-content: space-between;
        flex-wrap: unset;
    }



    @media screen and (min-width:1024px) {

        body {
            max-width: 1440px;
            margin: 0 auto;
            color: rgb(92, 89, 89);
            font-size: 20px;
        }

        .table {
            height: 300px;
        }

        .table-head {
            display: flex;
            justify-content: space-around;
            background-color: white;
            color: rgb(182, 177, 177);
        }

        header {
            display: flex;
            height: 90px;
            justify-content: space-between;
        }

        header>.header-img>h1 {
            display: none;
        }

        header>.header-img>p:after {
            font-family: Arial;
            font-style: normal;
            content: "The Brighton Times";
            font-size: 65px;
            display: flex;

        }

        header>.header-img>p {
            margin-bottom: 0.1%;
            padding-left: 40px;
        }

        .heading-container {
            max-width: 100%;
            height: 500px;
            background-image: url("../images/dog.jpg");
            background-position: center;
            /* Center the image */
            background-size: 1440px;
        }

        .heading-container>img {
            display: none;
        }

        .heading-container>div {
            width: 100%;
            position: absolute;
            background-color: white;
            color: rgb(146, 139, 139);
            bottom: 0;
        }

        .heading-container>div>h3 {
            margin-top: 1em;
            margin-bottom: 10px;
        }

        tr:nth-child(even) {
            background: none;
        }

        body>section {
            display: block;

        }

        .breaking-news-section {
            width: 100%;
        }

        .weather {
            order: 2;
            width: 100%;
        }





        @media screen and (min-width:1600px) {
            header {
                display: flex;
                height: 130px;
                justify-content: space-between;
            }
        }
    }

}